<!-- app.component.html -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sistema de Ordens de Serviço</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ordens">Ordens de Serviço</a>
          <a class="nav-link" routerLink="/client-list">Clientes</a>
          <a class="nav-link" routerLink="/prestador-list">Prestadores</a>
        </li>
        <!-- Outros itens de menu aqui -->
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>


